.btn {
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #e7e7eb;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.blue {
  padding: 14px 19px;
  background-color: rgb(60, 70, 230);
  &:hover {
    background-color: rgb(80, 90, 230);
  }
}

.gray {
  padding: 11px 18px 10px;
  background: rgb(110, 110, 120);
  &:hover {
    background: rgb(150, 150, 160);
  }
}
.disabled {
  cursor: not-allowed;
  background: rgb(150, 150, 160);
  box-shadow: none;
  &:hover {
    transform: none;
    background: rgb(150, 150, 160);
  }
}
